<div class="col-lg-12">
  <div class="col-lg-offset-9">
    <ng-select  class="custom" [items]="items" [clearable]="false" [(ngModel)]="ramo" (change)="buscaGrafico()"></ng-select>
  </div>
</div>
<div class="panel panel-default text-center">
  <div class="panel-heading">
      <h3 class="panel-title">TOP 10 - RAMOS DE ATIVIDADES POR CLIENTE X LEAD</h3>
      <button class="btn btn-oval btn-info" type="button">Cliente</button>
      <button class="btn btn-oval btn-warning" type="button">Lead</button>
  </div>    
  <div class="panel-body">
    <canvas baseChart [chartType]="'bar'" [options]="barOptions"
      [datasets]="barData.datasets" [colors]="barColors"
      [labels]="barData.labels" [legend]="false" height="120"></canvas>
  </div>
</div>    
